mixin topicList(topicIds)
  ul.inline-ul
    for tw in topicIds
      -var t = dict.topics[tw.id]
      -var w = tw.weight
      li
        a(href="/topic/#{t.id}")
          | #{t.name}
        | (w=#{w})
