extends layout

include mixins/yearRange
include mixins/topicList
include mixins/entityRecord

block content
  .row-fluid
    .span12
      ul#coentity-list
        for eid in page.entities
          li
            +entityRecord(dict.entities[eid])
