extends layout

include mixins/yearRange
include mixins/topicList
include mixins/entityRecord

block content
  .row-fluid
    .well.group
      -var hero = dict.entities[page.hero]
      .span6
        h5
          | #{hero.name}
        span
          | #{hero.etype}
          +yearRange(hero.years)

      .span6
        +topicList(hero.topics)

  .row-fluid
    .span12
      ul#coentity-list
        for eid in page.entities
          li
            +entityRecord(dict.entities[eid])

